<div class="title" [ngClass]="{ 'title--dark': darkMode }">
  <h2>{{ data?.name }}</h2>
  <img
    [src]="
      darkMode
        ? '../../../assets/images/editDark.png'
        : '../../../assets/images/edit.png'
    "
    alt="Edit group"
    class="title__edit-icon"
    (click)="toggle()"
    *ngIf="role === 'Professional'"
  />
</div>

<div class="exercises" *ngIf="!editing">
  <div class="exercises__item" *ngFor="let item of data?.exercises">
    <img
      src="{{ item?.image + '?t=' + timestamp }}"
      alt="{{ item?.name }}"
      class="exercises__item-img"
    />
    <p
      class="exercises__item-text"
      [ngClass]="{ 'exercises__item-text--dark': darkMode }"
    >
      <strong>{{ item?.name }}</strong
      >: {{ item?.amount }}
    </p>
  </div>
</div>
<div class="extra" [ngClass]="{ 'extra--dark': darkMode }" *ngIf="!editing">
  <h3 class="extra__title">Extra data:</h3>
  <p class="extra__text">{{ data?.extra }}</p>
</div>

<div class="form" *ngIf="editing && role === 'Professional'">
  <h2 class="form__subtitle" [ngClass]="{ 'form__subtitle--dark': darkMode }">
    Title and extra data
  </h2>
  <label
    for="title"
    class="form__label"
    [ngClass]="{ 'form__label--dark': darkMode }"
    >Group title:</label
  >
  <input
    type="text"
    id="title"
    class="form__input"
    [ngClass]="{ 'form__input--dark': darkMode }"
    [(ngModel)]="data.name"
    name="title"
    placeholder="Enter group title"
    (change)="changeTitle()"
  />
  <div class="popup" *ngIf="data.name.length < 3 || data.name.length > 50">
    Name field should be between 3 and 50 characters
  </div>

  <label
    for="extra"
    class="form__label"
    [ngClass]="{ 'form__label--dark': darkMode }"
    >Extra data:</label
  >
  <textarea
    type="text"
    id="extra"
    class="form__textarea"
    [ngClass]="{ 'form__textarea--dark': darkMode }"
    cols="30"
    rows="30"
    [(ngModel)]="data.extra"
    name="extra"
    placeholder="Enter group extra data"
    (change)="changeExtra()"
  ></textarea>
  <div class="popup" *ngIf="data.extra.length < 3 || data.extra.length > 50">
    Extra field should be between 3 and 50 characters
  </div>
  <h2 class="form__subtitle" [ngClass]="{ 'form__subtitle--dark': darkMode }">
    Exercises
  </h2>

  <div *ngFor="let item of data.exercises; let i = index" class="form__group">
    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="{{ 'exercise-name' + i }}"
        >Exercise name: </label
      ><input
        type="text"
        id="{{ 'exercise-name' + i }}"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-name"
        placeholder="Enter exercise name"
        [(ngModel)]="item.name"
        (change)="editExercise($event, item._id, 'name')"
      />
      <div class="popup" *ngIf="item.name.length < 3 || item.name.length > 50">
        Name field should be between 3 and 50 characters
      </div>
    </div>
    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="{{ 'exercise-image' + i }}"
        >Exercise image:
      </label>
      <input
        type="file"
        id="{{ 'exercise-image' + i }}"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-image"
        placeholder="Enter exercise image"
        (change)="editExercise($event, item._id, 'exerciseImage')"
      />
    </div>
    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="{{ 'exercise-amount' + i }}"
        >Exercise amount:
      </label>
      <input
        type="text"
        id="{{ 'exercise-amount' + i }}"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-amount"
        placeholder="Enter exercise amount"
        [(ngModel)]="item.amount"
        (change)="editExercise($event, item._id, 'amount')"
      />
      <div
        class="popup"
        *ngIf="item.amount.length < 3 || item.amount.length > 50"
      >
        Amount field should be between 3 and 50 characters
      </div>
    </div>

    <div class="form__delete-icon-container">
      <img
        [src]="
          darkMode
            ? '../../../assets/images/trashDark.png'
            : '../../../assets/images/trash.png'
        "
        alt="Delete icon"
        class="form__delete-icon"
        (click)="deleteExercise(item._id)"
      />
    </div>
  </div>

  <div class="popup" *ngIf="fileError">
    File must be jpg or png and less than 10MB
  </div>

  <h2 class="form__subtitle" [ngClass]="{ 'form__subtitle--dark': darkMode }">
    Add new exercise
  </h2>
  <form class="form" (submit)="addExercise()" [formGroup]="formGroup">
    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="exercise-name"
        >Exercise name: </label
      ><input
        type="text"
        id="exercise-name"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-name"
        placeholder="Enter exercise name"
        formControlName="name"
      />
    </div>
    <div
      class="popup"
      *ngIf="
        formGroup.controls['name'].invalid && formGroup.controls['name'].touched
      "
    >
      Name must be between 3 and 50 characters
    </div>

    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="exercise-image"
        >Exercise image:
      </label>
      <input
        type="file"
        id="exercise-image"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-image"
        placeholder="Enter exercise image"
        (change)="fileChecker(this, $event)"
      />
    </div>
    <div class="popup" *ngIf="fileError || !imageSrc">
      File must be jpg or png and less than 10MB
    </div>

    <div>
      <label
        class="form__label"
        [ngClass]="{ 'form__label--dark': darkMode }"
        for="exercise-amount"
        >Exercise amount:
      </label>
      <input
        type="text"
        id="exercise-amount"
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        name="exercise-amount"
        placeholder="Enter exercise amount"
        formControlName="amount"
      />
    </div>

    <div
      class="popup"
      *ngIf="
        formGroup.controls['amount'].invalid &&
        formGroup.controls['amount'].touched
      "
    >
      Amount must be between 3 and 50 characters
    </div>

    <button
      class="form__button"
      type="submit"
      [disabled]="formGroup.invalid"
      [ngClass]="{
        'form__button--disabled': formGroup.invalid,
        'form__button--dark': darkMode
      }"
    >
      Submit
    </button>
  </form>
  <div class="form__button-container">
    <p
      class="form__button form__button--danger form__button--danger--dark"
      (click)="deleteExerciseGroup()"
    >
      Delete Exercise Group
    </p>
  </div>
</div>
