:host {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  &--dark {
    color: white;
  }
  &__edit-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      height: 300px;
      margin-bottom: 5px;
    }
    &-text {
      font-size: 1.2rem;
      &--dark {
        color: white;
      }
    }
  }
}

.extra {
  padding: 30px 0;
  &--dark {
    color: white;
  }
  &__title {
    font-size: 1.5rem;
    text-align: center;
  }
  &__text {
    font-size: 1.1rem;
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  &__subtitle {
    font-size: 1.2rem;
    margin: 30px 0 10px 0;
    &--dark {
      color: white;
    }
  }
  &__roles {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  &__label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 10px;
    &--dark {
      color: white;
    }
  }
  &__input {
    background-color: white;
    padding: 5px 20px;
    font-size: 1rem;
    border: 1px solid #2e21ff;
    border-radius: 25px;
    &--dark {
      color: white;
      border-color: #25e5ff;
      background-color: transparent;
    }
  }
  &__textarea {
    width: 450px;
    height: auto;
    min-height: 80px;
    font-size: 1rem;
    border: 1px solid #2e21ff;
    border-radius: 25px;
    padding: 5px 20px;
    &--dark {
      color: white;
      border-color: #25e5ff;
      background-color: transparent;
    }
  }
  &__group {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 5px;
    border-bottom: 1px solid #d3d3d3;
  }
  &__button {
    margin: 20px 0;
    color: #2e21ff;
    border: 2px solid #2e21ff;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    &-container {
      padding-bottom: 40px;
    }
    &:hover {
      background-color: #2e21ff;
      color: white;
      cursor: pointer;
    }
    &--danger {
      color: rgb(255, 0, 0);
      border-color: rgb(255, 0, 0);
      margin-bottom: 30px;
      text-transform: none;
      font-size: 1rem;
    }
    &--danger:hover {
      background-color: rgb(255, 0, 0);
      color: white;
    }
    &--danger--dark {
      background-color: transparent;
      color: white;
      &:hover {
        background-color: rgb(255, 0, 0);
        color: black;
      }
    }
    &--disabled {
      background-color: #ebebeb;
      color: black;
      border-color: black;

      &:hover {
        background-color: #e2e2e2;
        color: black;
        border-color: black;
        cursor: not-allowed;
      }
    }
    &--dark {
      border-color: #25e5ff;
      color: white;
      background-color: transparent;
      &:hover {
        color: black;
        background-color: #25e5ff;
      }
    }
  }
  &__popup {
    background-color: #3021ff1e;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border-radius: 20px;
  }
  &__delete-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.popup {
  background-color: #3021ff1e;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .exercises__item {
    width: 100%;
    &-img {
      width: 100%;
      height: auto;
    }
  }

  .form {
    width: 100%;
    &__group {
      width: 100%;
    }
    &__input {
      width: 100%;
    }
    &__textarea {
      width: 100%;
    }
    &__label {
      width: 100%;
    }
  }
}
