<div class="details__container">
  <nav class="details__nav">
    <ul class="details__nav-list">
      <li
        *ngFor="let item of navItems"
        routerLink="{{ '/details/' + id + '/' + item.route }}"
        class="details__nav-item"
        routerLinkActive="details__nav-item--active"
      >
        <img
          class="details__nav-item-img"
          src="{{ item.icon }}"
          alt="{{ item.label }}"
        />
        <p>{{ item.label }}</p>
      </li>
    </ul>
  </nav>
  <hr />
  <router-outlet></router-outlet>
</div>
