<div class="info">
  <div class="info__edit">
    <img
      src="../../../assets/images/edit.png"
      alt="Edit"
      class="info__edit-icon"
      (click)="editing = !editing"
    />
  </div>
  <img
    src="{{ data.refData?.profilePicture }}"
    alt="{{
      data.refData?.name + ' ' + data.refData?.surname + ' profile picture'
    }}"
    class="info__img"
  />
  <div class="info__data">
    <p class="info__data-item">Name: {{ data.refData?.name }}</p>
    <p class="info__data-item">Surname: {{ data.refData?.surname }}</p>
  </div>
  <div class="info__data-extra">
    <div
      *ngFor="let item of data.extraData; let i = index"
      class="info__data-item"
    >
      <p>{{ item.key }}: {{ item.value }}</p>
      <img
        class="info__data-item-delete"
        src="../../../assets/images/trash.png"
        alt="Delete extra data"
        *ngIf="editing"
        (click)="deleteExtraData(i)"
      />
    </div>

    <form class="info__data-form" *ngIf="editing">
      <input
        type="text"
        placeholder="Key"
        class="info__data-form-input"
        name="key"
        [(ngModel)]="key"
      />
      <input
        type="text"
        name="value"
        placeholder="Value"
        class="info__data-form-input"
        [(ngModel)]="value"
      />
      <button class="info__data-form-button" (click)="addExtraData()">
        Add
      </button>
    </form>
  </div>
  <button *ngIf="editing" class="info__remove" (click)="deletePatient()">
    Remove patient
  </button>
</div>
