:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__edit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &-icon {
      height: 25px;
      width: 25px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  &__img {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 100%;
  }
  &__data {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-item {
      font-size: 1.3rem;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      text-align: center;
      &--dark {
        color: white;
      }
      &-delete {
        height: 25px;
        width: 25px;
        margin-left: 10px;
      }
    }
    &-form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      &-input {
        padding: 10px 15px;
        font-size: 1.1rem;
        border: 1px solid black;
        border-radius: 15px;
        &--dark {
          border-color: white;
          background-color: transparent;
          color: white;
        }
      }
      &-button {
        background: #ffffff;
        border: 2px solid #2e21ff;
        color: #2e21ff;
        font-size: 1rem;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
          background: #2e21ff;
          color: #ffffff;
        }
        &--dark {
          border-color: #25e5ff;
          border-width: 2px;
          background-color: transparent;
          color: #25e5ff;
          &:hover {
            background-color: #25e5ff;
            color: black;
          }
        }
      }
    }
  }
  &__remove {
    background: #ffffff;
    border: 2px solid #ff0000;
    color: #ff0000;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 10px 15px;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      background: #ff0000;
      color: #ffffff;
    }
    &--dark {
      border-width: 2px;
      background-color: transparent;
      &:hover {
        color: white;
      }
    }
  }
}
