:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-window {
  width: 80%;
  height: 70vh;
  overflow-y: scroll;
  background: #ffffff;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &--send {
    justify-content: flex-end;
  }
}

.form {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 20px;
  &__input {
    background-color: white;
    padding: 5px 20px;
    font-size: 1rem;
    border: 1px solid #2e21ff;
    border-radius: 25px;
    width: 100%;
  }
  &__button {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.message {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #2e21ff;
  background-color: white;
  border-radius: 200px 200px 200px 0;
  font-size: 1.2rem;
  &--send {
    background-color: #2e21ff;
    color: white;
    border-radius: 200px 200px 0 200px;
  }
}
