<div class="chat-window" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div
    *ngFor="let item of data.messages"
    class="message-container"
    [ngClass]="{ 'message-container--send': item.from === userId }"
  >
    <p class="message" [ngClass]="{ 'message--send': item.from === userId }">
      {{ item.text }} <span *ngIf="item.read">✔️</span>
    </p>
  </div>
</div>

<form class="form" (submit)="sendMessage()">
  <input
    class="form__input"
    type="text"
    [(ngModel)]="newMessage"
    name="message"
  />
  <img
    class="form__button"
    src="../../../assets/images/send.png"
    alt="Send message"
    (click)="sendMessage()"
  />
</form>
