<div
  class="chat-window"
  [ngClass]="{ 'chat-window--dark': darkMode }"
  #scrollMe
  [scrollTop]="scrollMe.scrollHeight"
  *ngIf="data"
>
  <div
    *ngFor="let item of data.messages"
    class="message-container"
    [ngClass]="{ 'message-container--send': item.from === userId }"
  >
    <p
      class="message"
      [ngClass]="{
        'message--send': item.from === userId,
        'message--dark': darkMode,
        'message--dark--send': darkMode && item.from === userId
      }"
    >
      {{ item.text }}
    </p>
  </div>
</div>

<form class="form" (submit)="sendMessage()">
  <input
    class="form__input"
    [ngClass]="{ 'form__input--dark': darkMode }"
    type="text"
    [(ngModel)]="newMessage"
    name="message"
  />
  <img
    class="form__button"
    [src]="
      darkMode
        ? '../../../assets/images/sendDark.png'
        : '../../../assets/images/send.png'
    "
    alt="Send message"
    (click)="sendMessage()"
  />
</form>
