:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 90%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--dark {
    background-color: #181818;
  }
  &__img {
    width: 70%;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 80px;
    text-align: center;
    &--highlight {
      color: #2e21ff;
    }
    &--dark {
      color: white;
    }
    &--highlight--dark {
      color: #25e5ff;
    }
  }
}

.image-fill {
  display: none;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: none;
    padding: 60px 0;
    &--dark {
      background-color: #121212;
    }

    &__title {
      margin: 0;
      font-size: 1.8rem;
    }

    &__img {
      display: none;
    }
    &__start-button {
      color: #2e21ff;
      border: 2px solid #2e21ff;
      background-color: white;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 15px 30px;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        background-color: #2e21ff;
        color: white;
      }
      &--dark {
        color: #25e5ff;
        border: 2px solid #25e5ff;
        background-color: #121212;
        &:hover {
          background-color: #25e5ff;
          color: black;
        }
      }
    }
  }

  .image-fill {
    background-image: url("../../assets/images/landing-image-mobile.png");
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &--dark {
      background-image: url("../../assets/images/landing-image-mobileDark.png");
    }
  }
}
