<div
  class="side-nav"
  [ngClass]="{ 'side-nav--closed': !open, 'side-nav--dark': darkMode }"
  *ngIf="isRendered"
>
  <div class="side-nav__close">
    <img
      class="side-nav__close-icon"
      [src]="
        darkMode
          ? '../../../assets/images/close-iconDark.png'
          : '../../../assets/images/close-icon.png'
      "
      alt="Close icon"
      (click)="closeNav()"
    />
  </div>
  <ul class="side-nav__list" *ngIf="!darkMode">
    <li
      *ngFor="let item of menuItems"
      class="side-nav__item"
      [ngClass]="{ 'side-nav__item--dark': darkMode }"
      routerLink="{{ item.route }}"
      (click)="closeNav()"
      routerLinkActive="side-nav__item--active"
    >
      <img
        class="side-nav__item-img"
        src="{{ item.imagePath }}"
        alt="{{ item.label }}"
      />
      <p class="side-nav__item-label">{{ item.label }}</p>
    </li>
  </ul>
  <ul class="side-nav__list" *ngIf="darkMode">
    <li
      *ngFor="let item of menuItems"
      class="side-nav__item side-nav__item--dark"
      routerLink="{{ item.route }}"
      (click)="closeNav()"
      routerLinkActive="side-nav__item--dark--active"
    >
      <img
        class="side-nav__item-img"
        src="{{ item.imagePath }}"
        alt="{{ item.label }}"
      />
      <p class="side-nav__item-label">{{ item.label }}</p>
    </li>
  </ul>

  <div
    class="side-nav__logout"
    [ngClass]="{ 'side-nav__logout--dark': darkMode }"
    (click)="logout()"
  >
    <img
      [src]="
        darkMode
          ? '../../../assets/images/logoutDark.png'
          : '../../../assets/images/logout.png'
      "
      class="side-nav__logout-icon"
      alt="Logout"
    />
    <p class="side-nav__logout-label">Logout</p>
  </div>
</div>
