<div class="side-nav" [ngClass]="{ 'side-nav--closed': !open }">
  <div class="side-nav__close">
    <img
      class="side-nav__close-icon"
      src="../../../assets/images/close-icon.png"
      alt="Close icon"
      (click)="open = false"
    />
  </div>
  <ul class="side-nav__list">
    <li class="side-nav__item">
      <img
        class="side-nav__item-img"
        src="../../../assets/images/user.png"
        alt="My info"
      />
      <p class="side-nav__item-label">My info</p>
    </li>
    <li class="side-nav__item">
      <img
        class="side-nav__item-img side-nav__item-img--bigger"
        src="../../../assets/images/userGroup.png"
        alt="My patients"
      />
      <p class="side-nav__item-label">My patients</p>
    </li>
    <li class="side-nav__item">
      <img
        class="side-nav__item-img"
        src="../../../assets/images/messagesNotification.png"
        alt="My messages"
      />
      <p class="side-nav__item-label">My messages</p>
    </li>
  </ul>
  <div class="side-nav__logout">
    <img
      class="side-nav__logout-icon"
      src="../../../assets/images/logout.png"
      alt="Logout"
    />
    <p class="side-nav__logout-label">Logout</p>
  </div>
</div>
