<div class="navbar" [ngClass]="{ 'navbar--logged': loggedIn }">
  <div class="navbar__mobile-toggle" (click)="openNav()">
    <img
      src="../../../assets/images/hamburguer.png"
      alt="Toggle"
      class="navbar__mobile-toggle-icon"
    />
  </div>
  <div class="navbar__header-group" routerLink="">
    <img
      src="../../../assets/images/logo.png"
      alt="Logo"
      class="navbar__header-group-logo"
    />
    <h1 class="navbar__header-group-title">
      Meta<span class="navbar__header-group-title--accent">Med</span>
    </h1>
  </div>

  <div class="navbar__menu">
    <nav class="navbar__menu-nav">
      <ul class="navbar__menu-nav-list">
        <li class="navbar__menu-nav-item" routerLink="auth">Access</li>
      </ul>
    </nav>
    <div class="navbar__menu-icons">
      <img
        src="../../../assets/images/accessIcon.png"
        alt="Access icon"
        class="navbar__menu-icons-access"
        routerLink="auth"
      />
      <img
        src="../../../assets/images/darkModeSwitch.png"
        alt="Dark mode toggle"
        class="navbar__menu-icons-dark-mode-toggle"
      />
    </div>
  </div>
</div>
