<div class="navbar">
  <div class="navbar__header-group">
    <img
      src="../../../assets/images/logo.png"
      alt="Logo"
      class="navbar__header-group-logo"
    />
    <h1 class="navbar__header-group-title">
      Meta<span class="navbar__header-group-title--accent">Med</span>
    </h1>
  </div>

  <div class="navbar__menu">
    <nav class="navbar__menu-nav">
      <ul class="navbar__menu-nav-list">
        <li class="navbar__menu-nav-item">Access</li>
      </ul>
    </nav>
    <div class="navbar__menu-icons">
      <img
        src="../../../assets/images/accessIcon.png"
        alt="Access icon"
        class="navbar__menu-icons-access"
      />
      <img
        src="../../../assets/images/darkModeSwitch.png"
        alt="Dark mode toggle"
        class="navbar__menu-icons-dark-mode-toggle"
      />
    </div>
  </div>
</div>
