<form class="form" [formGroup]="formGroup" (submit)="submitForm()">
  <div class="form__group">
    <label
      class="form__label"
      [ngClass]="{ 'form__label--dark': darkMode }"
      for="name"
      >Name:</label
    >
    <input
      class="form__input"
      [ngClass]="{ 'form__input--dark': darkMode }"
      type="text"
      id="name"
      formControlName="name"
    />
  </div>
  <div
    class="form__popup"
    [ngClass]="{ 'form__popup--dark': darkMode }"
    *ngIf="
      formGroup.controls['name'].invalid && formGroup.controls['name'].touched
    "
  >
    Name must be between 3 and 50 chatacters
  </div>
  <div class="form__group">
    <label
      class="form__label"
      [ngClass]="{ 'form__label--dark': darkMode }"
      for="surname"
      >Surname:</label
    >
    <input
      class="form__input"
      [ngClass]="{ 'form__input--dark': darkMode }"
      type="text"
      id="surname"
      formControlName="surname"
    />
  </div>
  <div
    class="form__popup"
    [ngClass]="{ 'form__popup--dark': darkMode }"
    *ngIf="
      formGroup.controls['surname'].invalid &&
      formGroup.controls['surname'].touched
    "
  >
    Surname must be between 3 and 50 chatacters
  </div>
  <div class="form__group">
    <label
      [ngClass]="{ 'form__label--dark': darkMode }"
      class="form__label"
      for="profilePicture"
      >ProfilePicture:</label
    >
    <input
      class="form__input"
      [ngClass]="{ 'form__input--dark': darkMode }"
      type="file"
      id="profilePicture"
      formControlName="profilePicture"
      (change)="fileChecker(this, $event)"
    />
  </div>
  <div
    class="form__popup"
    [ngClass]="{ 'form__popup--dark': darkMode }"
    *ngIf="
      (formGroup.controls['profilePicture'].invalid &&
        formGroup.controls['profilePicture'].touched) ||
      fileError
    "
  >
    File extension must be jpg, jpeg or png and size must be less than 10MB
  </div>
  <div class="form__group">
    <label
      [ngClass]="{ 'form__label--dark': darkMode }"
      class="form__label"
      for="email"
      >Email:</label
    >
    <input
      class="form__input"
      [ngClass]="{ 'form__input--dark': darkMode }"
      type="text"
      id="email"
      formControlName="email"
    />
  </div>
  <div
    class="form__popup"
    [ngClass]="{ 'form__popup--dark': darkMode }"
    *ngIf="
      formGroup.controls['email'].invalid && formGroup.controls['email'].touched
    "
  >
    Email must be between 3 and 50 chatacters and must be an email
  </div>
  <div class="form__group">
    <label
      [ngClass]="{ 'form__label--dark': darkMode }"
      class="form__label"
      for="password"
      >Password:</label
    >
    <input
      class="form__input"
      [ngClass]="{ 'form__input--dark': darkMode }"
      type="password"
      id="password"
      formControlName="password"
    />
  </div>
  <div
    class="form__popup"
    [ngClass]="{ 'form__popup--dark': darkMode }"
    *ngIf="
      formGroup.controls['password'].invalid &&
      formGroup.controls['password'].touched
    "
  >
    Password must be between 3 and 50 chatacters
  </div>
  <div class="form__roles">
    <div *ngFor="let role of roles">
      <label
        [ngClass]="{ 'form__label--dark': darkMode }"
        class="form__label"
        for="{{ role + 'role' }}"
        >{{ role }}</label
      >
      <input
        type="radio"
        value="{{ role }}"
        id="{{ role + 'role' }}"
        name="role"
        formControlName="role"
      />
    </div>
  </div>

  <div *ngIf="formGroup.value.role === 'Professional'">
    <div class="form__group">
      <label
        [ngClass]="{ 'form__label--dark': darkMode }"
        class="form__label"
        for="password"
        >BusinessName:</label
      >
      <input
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        type="businessName"
        id="businessName"
        formControlName="businessName"
      />
    </div>
    <div
      class="form__popup"
      [ngClass]="{ 'form__popup--dark': darkMode }"
      *ngIf="
        formGroup.controls['businessName'].invalid &&
        formGroup.controls['businessName'].touched
      "
    >
      BusinessName must be between 3 and 50 chatacters
    </div>
  </div>

  <div *ngIf="formGroup.value.role === 'Patient'">
    <div class="form__group">
      <label
        [ngClass]="{ 'form__label--dark': darkMode }"
        class="form__label"
        for="password"
        >Gender:</label
      >
      <input
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        type="gender"
        id="gender"
        formControlName="gender"
      />
    </div>
    <div
      class="form__popup"
      [ngClass]="{ 'form__popup--dark': darkMode }"
      *ngIf="
        formGroup.controls['gender'].invalid &&
        formGroup.controls['gender'].touched
      "
    >
      Gender must be between 3 and 50 chatacters
    </div>
  </div>

  <div *ngIf="formGroup.value.role === 'Patient'">
    <div class="form__group">
      <label
        [ngClass]="{ 'form__label--dark': darkMode }"
        class="form__label"
        for="password"
        >BirthDate:</label
      >
      <input
        class="form__input"
        [ngClass]="{ 'form__input--dark': darkMode }"
        type="birthDate"
        id="birthDate"
        formControlName="birthDate"
      />
    </div>
    <div
      class="form__popup"
      [ngClass]="{ 'form__popup--dark': darkMode }"
      *ngIf="
        formGroup.controls['birthDate'].invalid &&
        formGroup.controls['birthDate'].touched
      "
    >
      BirthDate must be between 3 and 50 chatacters
    </div>
  </div>

  <button
    class="form__button"
    [ngClass]="{
      'form__button--disabled': formGroup.invalid || fileError,
      'form__button--dark': darkMode
    }"
    type="submit"
    [disabled]="formGroup.invalid"
  >
    Register
  </button>
</form>

<p
  class="form__popup"
  [ngClass]="{ 'form__popup--dark': darkMode }"
  *ngIf="registerError"
>
  Sorry, that email already exists
</p>
