<div
  class="modal-open"
  *ngIf="role === 'Professional'"
  [ngClass]="{ 'modal-open--dark': darkMode }"
>
  <img
    [src]="
      darkMode
        ? '../../assets/images/plusDark.png'
        : '../../assets/images/plus.png'
    "
    alt="plus icon"
    class="modal-open__button-icon"
    (click)="isModalOpen = true"
  />
  <p class="modal-open__button" (click)="isModalOpen = true">Add patient</p>
</div>
<app-search
  (search)="filterUsers($event)"
  *ngIf="role === 'Professional'"
></app-search>
<div class="main-container">
  <app-card *ngFor="let item of filteredUsersDataInfo" [data]="item"></app-card>
</div>
<app-add-modal
  (closeModal)="isModalOpen = $event"
  [modalOpen]="isModalOpen"
></app-add-modal>
